<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spd.storage.dal.dao.SpdCategoryDOMapper" >
  <resultMap id="BaseResultMap" type="com.spd.storage.dal.domain.SpdCategoryDO" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="standard" property="standard" jdbcType="VARCHAR" />
    <result column="package_stdd" property="package_stdd" jdbcType="VARCHAR" />
    <result column="batch_code" property="batch_code" jdbcType="VARCHAR" />
    <result column="valid_date" property="valid_date" jdbcType="DATE" />
    <result column="produce_factory" property="produce_factory" jdbcType="VARCHAR" />
    <result column="reg_code" property="reg_code" jdbcType="VARCHAR" />
    <result column="refer_unit_price" property="refer_unit_price" jdbcType="DOUBLE" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="bak" property="bak" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, standard, package_stdd, batch_code, valid_date, produce_factory, reg_code, 
    refer_unit_price, unit, bak
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.spd.storage.dal.domain.SpdCategoryDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from s_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.spd.storage.dal.domain.SpdCategoryDOExample" >
    delete from s_category
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.spd.storage.dal.domain.SpdCategoryDO" >
    insert into s_category (id, name, standard, 
      package_stdd, batch_code, valid_date, 
      produce_factory, reg_code, refer_unit_price, 
      unit, bak)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, 
      #{package_stdd,jdbcType=VARCHAR}, #{batch_code,jdbcType=VARCHAR}, #{valid_date,jdbcType=DATE}, 
      #{produce_factory,jdbcType=VARCHAR}, #{reg_code,jdbcType=VARCHAR}, #{refer_unit_price,jdbcType=DOUBLE}, 
      #{unit,jdbcType=VARCHAR}, #{bak,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.spd.storage.dal.domain.SpdCategoryDO" >
    insert into s_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="standard != null" >
        standard,
      </if>
      <if test="package_stdd != null" >
        package_stdd,
      </if>
      <if test="batch_code != null" >
        batch_code,
      </if>
      <if test="valid_date != null" >
        valid_date,
      </if>
      <if test="produce_factory != null" >
        produce_factory,
      </if>
      <if test="reg_code != null" >
        reg_code,
      </if>
      <if test="refer_unit_price != null" >
        refer_unit_price,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="bak != null" >
        bak,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="standard != null" >
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="package_stdd != null" >
        #{package_stdd,jdbcType=VARCHAR},
      </if>
      <if test="batch_code != null" >
        #{batch_code,jdbcType=VARCHAR},
      </if>
      <if test="valid_date != null" >
        #{valid_date,jdbcType=DATE},
      </if>
      <if test="produce_factory != null" >
        #{produce_factory,jdbcType=VARCHAR},
      </if>
      <if test="reg_code != null" >
        #{reg_code,jdbcType=VARCHAR},
      </if>
      <if test="refer_unit_price != null" >
        #{refer_unit_price,jdbcType=DOUBLE},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="bak != null" >
        #{bak,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update s_category
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.standard != null" >
        standard = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.package_stdd != null" >
        package_stdd = #{record.package_stdd,jdbcType=VARCHAR},
      </if>
      <if test="record.batch_code != null" >
        batch_code = #{record.batch_code,jdbcType=VARCHAR},
      </if>
      <if test="record.valid_date != null" >
        valid_date = #{record.valid_date,jdbcType=DATE},
      </if>
      <if test="record.produce_factory != null" >
        produce_factory = #{record.produce_factory,jdbcType=VARCHAR},
      </if>
      <if test="record.reg_code != null" >
        reg_code = #{record.reg_code,jdbcType=VARCHAR},
      </if>
      <if test="record.refer_unit_price != null" >
        refer_unit_price = #{record.refer_unit_price,jdbcType=DOUBLE},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.bak != null" >
        bak = #{record.bak,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update s_category
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      standard = #{record.standard,jdbcType=VARCHAR},
      package_stdd = #{record.package_stdd,jdbcType=VARCHAR},
      batch_code = #{record.batch_code,jdbcType=VARCHAR},
      valid_date = #{record.valid_date,jdbcType=DATE},
      produce_factory = #{record.produce_factory,jdbcType=VARCHAR},
      reg_code = #{record.reg_code,jdbcType=VARCHAR},
      refer_unit_price = #{record.refer_unit_price,jdbcType=DOUBLE},
      unit = #{record.unit,jdbcType=VARCHAR},
      bak = #{record.bak,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>